@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    padding-top: 48px;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.app-bar {
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 1000;
}

.min-h-screen-minus-48 {
    min-height: calc(100vh - 48px);
}

.mobile-like {
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #00ffce;
    }

    /* Solana light blue */
    50% {
        background-color: #9954ff;
    }

    /* Solana purple */
    100% {
        background-color: #00ffce;
    }

    /* Solana light blue */
}

.animatedBackground {
    animation: backgroundAnimation 3s linear infinite;
}

.blackGlassPaper {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
}
